# [Fatal Accidental Overdoses](https://data.wprdc.org/dataset/allegheny-county-fatal-accidental-overdoses/resource/1c59b26a-1684-4bfb-92f7-205b947530cf)

**Fatal Overdoses as a Metric**

In [2]:
import pandas as pd
import geopandas as gp
%matplotlib inline
import fpsnippets as fps

HOODS = gp.read_file("https://data.wprdc.org/dataset/e672f13d-71c4-4a66-8f38-710e75ed80a4/resource/c5a93a8e-03d7-4eb3-91a8-c6b7db0fa261/download/pittsburghpaneighborhoods-.zip")["hood"]
# TRACTS = pd.read_csv("https://data.wprdc.org/dataset/pittsburgh-2014-cdbg-census-tracts/resource/116d28e7-fbdb-4c58-a845-6e2c00a4fde0/download/116d28e7-fbdb-4c58-a845-6e2c00a4fde0.csv")
od_csv = "https://data.wprdc.org/dataset/allegheny-county-fatal-accidental-overdoses/resource/1c59b26a-1684-4bfb-92f7-205b947530cf/download/1c59b26a-1684-4bfb-92f7-205b947530cf.csv"
od_data = pd.read_csv(od_csv)

In [12]:
od_dict = {}
zip_dict = {}
for hood in HOODS: 
    od_dict[hood.title()] = 0

for index, row in od_data.iterrows(): 
    try: 
        zip = int(row["incident_zip"])
    except: 
        continue
    try:
        hoods = zip_dict[zip]
    except: 
        hoods = fps.zip_to_neighborhoods(zip)
        zip_dict[zip] = hoods
    if hoods != None:
        for hood in hoods: 
            if hood != None: 
                try: 
                    od_dict[hood.title()] += 1
                except: 
                    od_dict[hood.title()] = 1

In [13]:
od_df = pd.DataFrame([od_dict.keys(), od_dict.values()]).T
od_df.columns= ['Neighborhood', '# Overdoses']
od_df.head(20)

sorted_ods = od_df.sort_values(by='# Overdoses', ascending=False)
sorted_ods.head(20)

# sorted_ods['# Overdoses'].plot(kind="bar", width = .4, figsize=(25,10), position=1)

                Neighborhood # Overdoses
40                 Overbrook         849
54          Mount Washington         770
24                 Brookline         755
88          South Side Flats         622
17            Homewood North         614
26               Beltzhoover         614
30                 Allentown         580
4                  Knoxville         555
51                   Carrick         548
59              Point Breeze         491
21  Lincoln-Lemington-Belmar         462
90      Mount Oliver Borough         459
49                 Arlington         459
48         South Side Slopes         459
55                East Hills         452
39               Polish Hill         437
60                 Hazelwood         430
65                 Troy Hill         419
38         Central Northside         417
35        Marshall-Shadeland         413